# .gitignore
.env
# Python
*.py[cod]
__pycache__/
*.so
*.egg
*.egg-info/
dist/
build/
*.egg-info/
.eggs/

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Celery
celerybeat-schedule
celerybeat.pid

# Test coverage
.coverage
htmlcov/